.Drawer {
  background-image: linear-gradient(
    to bottom,
    #340251,
    #2e1769,
    #212793,
    #204daf,
    #1356dc
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  max-width: 10rem;
  padding: 1.5rem 1rem 0 1.5rem;
  z-index: 50;
  transform: translateX(0px);
  transition: transform 0.2s ease-in;
  font-size: 1.5rem;
}

.Drawer.closed {
  transform: translateX(-12rem);
}

.Drawer ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.Drawer ul li {
  margin-bottom: 1rem;
}

.Drawer ul li a {
  font-weight: bold;
  position: relative;
}

.Drawer ul li a:hover {
  cursor: pointer;
}
a:active {
  color: #1b1c31;
}

.about {
  position: fixed;
  font-size: 1rem;
  left: 0.2rem;
  bottom: 0rem;
  margin-bottom: 0.2rem;
}
