.FinishedQuiz {
  border: 2px solid #fff;
  min-width: 40rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.FinishedQuiz ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}
.FinishedQuiz ul li {
  margin: 15px;
}
.FinishedQuiz ul li:hover {
  margin: 15px;
}

.btn {
  display: inline;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 10px;
  background-color: rgba(25, 27, 157, 0.1);
  padding: 5px 13px;
}

.btn:hover {
  background-color: rgba(15, 16, 112, 0.3);
}

.btn:active {
  background-color: rgba(5, 6, 79, 0.5);
  box-shadow: 0 0 4px #fff;
}
.corAns p {
  align-items: center;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}
.corAns {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.FinishedQuiz ul li i {
  margin-left: 10px;
}

.success {
  color: rgb(7, 185, 7);
}

.error {
  color: red;
}
