.FinishedQuiz {
  border: 1px solid #fff;
  width: 29rem;
  font-size: 0.7rem;
  border-radius: 0.4rem;
}

.FinishedQuiz ul {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.FinishedQuiz ul li {
  margin: 10px;
}
