.btn {
  display: inline;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(25, 27, 157, 0.1);
  padding: 5px 13px;
  margin: 1 1.5rem;
}

.btn:hover {
  border: 1px solid #a59f9f;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 0 5px #fff;
}

.primary {
  background: #402a80;
}

.btn:disabled {
  background: #ccc;
  color: #837f7f;
  cursor: not-allowed;
}

.succes {
  background: rgba(161, 240, 69, 0.7);
}

.error {
  background: rgba(240, 187, 108, 0.7);
}
