.AnswerItem {
  border: 1px solid #fff;
  border-radius: 0.5rem;

  font-size: 2rem;
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: rgba(216, 207, 237, 0.3);
  transition: background 0.3s ease-in-out;
  box-shadow: 0 0 4px #fff;
}

.AnswerItem.success {
  background: rgba($color: #0b530c, $alpha: 0.7);
}

.AnswerItem.error {
  background: rgba($color: #bb0606, $alpha: 0.7);
}
