.Input {
  display: inline;
  input {
    text-align: center;
    width: 20rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    padding: 5px;
    margin-top: 1rem;
    background-color: rgba($color: #fff, $alpha: 0.6);
  }

  input:focus {
    outline: #fff solid 1px;
    box-shadow: 0 0 1rem #fff;
  }
  label {
    font-weight: bold;
  }
  input::placeholder {
    text-align: center;
  }
  span {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.Input.invalid {
  span {
    color: red;
  }
  input {
    border: 3px solid red;
  }
}
