.ActiveQuiz {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 0.6rem;
  box-sizing: border-box;
}

.ActiveQuiz p {
  display: flex;
  justify-content: space-between;
}

.ActiveQuestion {
  font-size: 1.8rem;
}
.ActiveQuiz p small {
  min-width: 4rem;
}
