.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
}

.container li {
  // text-align: center;
  width: 20rem;
  font-size: 3rem;
  padding-inline-start: 3rem;
  font-weight: bold;
  // list-style-type: none;
  margin-top: 2rem;
  // transform: translateX(6rem);
}
