@import "~bootstrap/scss/bootstrap";
html {
  font-size: 1vw;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
a.active {
  color: rgb(62, 130, 220);
}

a {
  color: #fff;
  text-decoration: none;
}
