.CreateQuiz {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h1 {
    font-weight: bold;
    display: inline;
    margin: 2rem;
  }
}

.container11 {
  border: 2px solid #fff;
  width: 70rem;
  min-height: 30rem;
  border-radius: 1rem;

  form {
    width: 100%;
    height: auto;

    p {
      margin: 0.5rem 0;
      padding: 1rem;
      font-size: 1.5rem;
    }
    label {
      margin: 0;
      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    input {
      margin: 1rem;
      width: 15rem;
      height: 2.2rem;
      font-size: 1rem;
    }

    button {
      margin: 1rem;
    }
    div:first-of-type input {
      min-width: 40rem;
      // display: block;
    }

    div:first-of-type label span {
      // display: inline;
      font-size: 2rem;
    }
  }
}
