.CreateQuiz {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h1 {
    display: inline;
    margin: 2rem;
  }
  input {
  }
}

.container {
  display: flex;
  border: 2px solid #fff;
  width: 70rem;
  height: 30rem;

  input {
    display: block;
    margin: 0.5rem;
    width: auto;
    height: 2.2rem;
    font-size: 1rem;
  }

  form {
    width: 100%;
    text-align: left;
    padding: 1rem;

    p {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      text-align: left;
    }
  }

  div:first-of-type input {
    min-width: 40rem;
  }
}
